html{
    background-color: #131313;
    color: #a0a0a0;
}
.counter{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
}
.counter>button{
    font-size: 1.5rem;
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
    width: fit-content;
    transition: all 0.2s ease-in-out;
    margin-top: 1rem;
}
.counter>button:hover{
    background: white;
    color: black;
}